<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Listado de Vehículos</title>
    <link rel="stylesheet" href="/css/stylesLV.css" />
</head>
<body>

    <h1>LISTADO DE VEHICULOS</h1>
    
    <br><a href="/anadirGuerrero"> GUERREROS</a>

    <table border="1">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Vida</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Num Guerreros</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehiculo : ${vehiculos}">
                <td>
                    <!-- Por ejemplo, botón para editar o eliminar -->
                    <a th:href="@{'/editarVehiculo/' + ${vehiculo.id}}">
                        <img alt="Borrar" src="/images/edit-icon.png" width="30" height="30" />
                    </a>
                </td>
                <td th:text="${vehiculo.nombre}">Nombre</td>
                <td th:text="${vehiculo.tipo}">Tipo</td>
           		<td th:text="${vehiculo.vida}">Vida</td>
                <td th:text="${vehiculo.ataque}">Ataque</td>
                <td th:text="${vehiculo.defensa}">Defensa</td>
   
                <td>
                    <a href="/anadirGuerrero">
                        <img alt="AñadirGuerreros"  width="30" height="30" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <div class="buttons-container">
        <input type="button" onclick="window.location.href='AnadirVehiculo'" value="Añadir Vehiculo" />
        <input type="button" value="Iniciar Combate" />
    </div>
</body>
</html>