<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylesLV.css" /> <!-- Enlazamos el archivo CSS -->
</head>
    <body>

        <h1>LISTADO DE VEHICULOS</h1>

        <table border="1">
        
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Vida</th>
                    <th>Ataque</th>
                    <th>Defensa</th>
                    <th>Num Guerreros</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>

                    <a href="ClienteNoValido.html">
                    <img alt="Prueba de imagen" 
                    src="https://png.pngtree.com/png-vector/20230104/ourmid/pngtree-3d-cross-x-icon-vector-in-transparent-background-png-image_6550459.png" 
                    width="30" height="30">
                    </a>
                    
                    </td>
                    <td>Nombre1</td>
                    <td>Tipo1</td>
                    <td>Vida1000</td>
                    <td>Ataque 5</td>
                    <td>Defensa 5</td>
                    <td>Num Guerreros</td>
                    <td>
                        <a href="ClienteNoValido.html">
                            <img alt="Prueba de imagen" 
                            src="resursos/istockphoto-1473835464-612x612-removebg-preview.png" 
                            width="30" height="30">
                            </a>
                    </td>
                
                </tr>
                
                <tr>
                    <td>

                        <a href="ClienteNoValido.html">
                        <img alt="Prueba de imagen" 
                        src="https://png.pngtree.com/png-vector/20230104/ourmid/pngtree-3d-cross-x-icon-vector-in-transparent-background-png-image_6550459.png" 
                        width="30" height="30">
                        </a>
                        
                        </td>
                        <td>Nombre1</td>
                        <td>Tipo1</td>
                        <td>Vida1000</td>
                        <td>Ataque 5</td>
                        <td>Defensa 5</td>
                        <td>Num Guerreros</td>
                        <td>
                            <a href="ClienteNoValido.html">
                                <img alt="Prueba de imagen" 
                                src="resursos/istockphoto-1473835464-612x612-removebg-preview.png" 
                                width="30" height="30">
                                </a>
                        </td>
                    
                </tr>
                
                <tr>
                    <td>

                        <a href="ClienteNoValido.html">
                        <img alt="Prueba de imagen" 
                        src="https://png.pngtree.com/png-vector/20230104/ourmid/pngtree-3d-cross-x-icon-vector-in-transparent-background-png-image_6550459.png" 
                        width="30" height="30">
                        </a>
                        
                        </td>
                        <td>Nombre1</td>
                        <td>Tipo1</td>
                        <td>Vida1000</td>
                        <td>Ataque 5</td>
                        <td>Defensa 5</td>
                        <td>Num Guerreros</td>
                        <td>
                            <a href="ClienteNoValido.html">
                                <img alt="Prueba de imagen" 
                                src="resursos/istockphoto-1473835464-612x612-removebg-preview.png" 
                                width="30" height="30">
                                </a>
                        </td>
                    
                
                </tr>
                
        
            
            </tbody>
            
            <tfoot>
            
            </tfoot>
        
        </table>

        <br>
    
        <div class="buttons-container">
        <a href="ListadoGuerrero"> guerreros</a>
            <input  type="submit" value="Añadir Vehiculo" >
            <input type="submit" value="Iniciar Combate">
        </div>
    </body>


</html>