<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" /> <!-- Enlazamos el archivo CSS -->
   
</head>
<body>
    <h1>Login</h1>

<form method="post" action="/login">

    <label for="usuario">Usuario</label>
    <input type="text"
           value="marcela"
           placeholder="Ingresa  usuario"
           name="usuario"
           id="usuario"
           maxlength="30"
           required><br><br>

    <label for="contraseña">Contraseña</label>
    <input type="text"
           value="m123"
           placeholder="ingresa  contraseña"
           name="contraseña"
           id="contraseña"
           maxlength="30"
           required><br><br>

           
    <input type="submit" value="Registrar Cliente">



           


</form>
    
</body>
</html>